@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  font-family: "Chakra Petch", sans-serif;
}


@keyframes gradient-shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes fill-bar {
  from {
    width: 0;
  }
  to {
    width: var(--bar-width, 100%);
  }
}

.animate-gradient-shimmer {
  animation: gradient-shimmer 3s linear infinite;
}

.animate-fill-bar {
  animation: fill-bar 1.5s ease-out forwards;
}
